body{
    background-color: #212529;
    
}
header {
    background-color: red;
    background-image: linear-gradient(to top right, yellow, red);
    height: 100px;
    text-align: center;
}
li{
    list-style-type: none
}
.card {
    background-image: linear-gradient(to bottom left, blue, lightblue);
    min-width: 100px;
}
.sidebar {
    background-color: navy;
    height: auto;
}

#searchBar {
    background-color: red !important;
    background-image: linear-gradient(to top right, yellow, red) !important;
}
#city-input{
    width: 140px;
}